<?xml version="1.0" encoding="UTF-8" standalone="yes"?><w:settings xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main"><w:view w:val="print"/><w:mirrorMargins w:val="0"/><w:bordersDoNotSurroundHeader w:val="0"/><w:bordersDoNotSurroundFooter w:val="0"/><w:revisionView w:markup="1" w:comments="1" w:insDel="1" w:formatting="0"/><w:defaultTabStop w:val="720"/><w:autoHyphenation w:val="0"/><w:evenAndOddHeaders w:val="0"/><w:bookFoldPrinting w:val="0"/><w:noLineBreaksAfter w:lang="" w:val="&#x2018;&#x201C;(&#x3014;[{&#x3008;&#x300A;&#x300C;&#x300E;&#x3010;&#x2985;&#x3018;&#x3016;&#xAB;&#x301D;&#xFE35;&#xFE37;&#xFE39;&#xFE3B;&#xFE3D;&#xFE3F;&#xFE41;&#xFE43;&#xFE47;&#xFE59;&#xFE5B;&#xFE5D;&#xFF62;"/><w:noLineBreaksBefore w:lang="" w:val="&#x2019;&#x201D;)&#x3015;]}&#x3009;"/><w:compat><w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="15"/></w:compat></w:settings>
