@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

:focus {outline: 0;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
a { outline: none !important; }
.no_bg_pad { background: none !important; padding: 0 !important; }
.no_bg { background: none !important; }
.no_pad { padding: 0px !important; }
.no_mar { margin: 0px !important; }
.no_border { border: none !important; }
.clear { clear: both; height: 0px; display: block; }
.flt_lft { float: left !important; }
.flt_rht { float: right !important; }
.no_btm_pad { padding-bottom: 0 !important; }
.no_scroll{ overflow:hidden}
sup { font-size: 0.7em !important; }
/* fontface */
@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black-webfont.eot');
    src: url('../fonts/lato-black-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato-black-webfont.woff') format('woff'),
         url('../fonts/lato-black-webfont.ttf') format('truetype'),
         url('../fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
.FL{ float:left}
.FR{ float:right !important}
.clear{ clear:both}
body {background: #ffffff;
    font-family: 'latoregular';
    font-size: 16px;
    color: #000000;
	}

/* common */
h1 { font-size: 3.750em; line-height: 130%;font-family: 'latoblack';  color: #000; padding: 0 0 20px; }
h2 { font-size: 2.500em; line-height: 70%; font-family: 'latoblack';  margin:auto; position:relative; padding:0 0 20px; color:#eb222e; text-transform:uppercase;  }
h3 { font-size: 	1.500em; line-height: 130%; color: #000; text-transform: uppercase; background: rgba(255, 255, 255, 0.8); width:100%; padding:15px 0;}
p { color: #000; margin: 0 0 20px; line-height:120% }

h1 span { font-size:3.000em;}
h2 span{ font-size:75%; color:#000}
::-webkit-input-placeholder {
opacity:1;
}
:-moz-placeholder { /* Firefox 18- */
opacity:1;
}
::-moz-placeholder {  /* Firefox 19+ */
opacity:1;
}
:-ms-input-placeholder {
opacity:1;
}
a, span, .catImg, h4, .goodCir, b, .logo, img{ -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;}
a:hover{ text-decoration:none}

/**/
.animateThis.go{ -moz-transition: all 0.5s linear; -webkit-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear; }
.animateThis.slow.go{ -moz-transition: all 0.5s linear; -webkit-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;transition-delay: 0.4s; }
.animateThis.slower.go{ -moz-transition: all 0.5s linear; -webkit-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;transition-delay: 0.8s; }
.animateThis.slowest.go{ -moz-transition: all 0.5s linear; -webkit-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;transition-delay: 1.2s; }


.animateThis.up{opacity: 0; -moz-transform: translate3d(0px, 100px, 0px); -webkit-transform: translate3d(0px, 100px, 0px); -o-transform: translate(0px, 100px); -ms-transform: translate(0px, 100px); transform: translate3d(0px, 100px, 0px); }
/* .animateThis.up{ transition: all 0s linear; } */
.animateThis.up.go { opacity: 1; -moz-transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0px, 0px, 0px); -o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate3d(0px, 0px, 0px); }
.animateThis.headingline.width{ width: 0px;transition: all 0.7s linear;}
.animateThis.width.headingline.go{ width: 60px;}
.animateThis.fadeIn{opacity: 0; }
.animateThis.fadeIn.go { opacity: 1; }
.animateThis.fadeInleft{opacity: 0; -moz-transform: translate3d(-100%, 0, 0); -webkit-transform: translate3d(-100%, 0, 0); -o-transform: translate3d(-100%, 0, 0); -ms-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
.animateThis.fadeInleft.go { opacity: 1; -moz-transform: translate3d(0, 0, 0); -webkit-transform:translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.animateThis.fadeInleftSlow{opacity: 0; -moz-transform: translate3d(-100px, 0, 0); -webkit-transform: translate3d(-100px, 0, 0); -o-transform: translate3d(-100px, 0, 0); -ms-transform: translate3d(-100px, 0, 0); transform: translate3d(-100px, 0, 0); }
.animateThis.fadeInleftSlow.go { opacity: 1; -moz-transform: translate3d(0, 0, 0); -webkit-transform:translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }


.animateThis.fadeInRight{opacity: 0; -moz-transform: translate3d(100%, 0, 0); -webkit-transform: translate3d(100%, 0, 0); -o-transform: translate3d(100%, 0, 0); -ms-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
.animateThis.fadeInRight.go { opacity: 1; -moz-transform: translate3d(0, 0, 0); -webkit-transform:translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.animateThis.fadeInRightSlow{opacity: 0; -moz-transform: translate3d(100px, 0, 0); -webkit-transform: translate3d(100px, 0, 0); -o-transform: translate3d(100px, 0, 0); -ms-transform: translate3d(100px, 0, 0); transform: translate3d(100px, 0, 0); }
.animateThis.fadeInRightSlow.go { opacity: 1; -moz-transform: translate3d(0, 0, 0); -webkit-transform:translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.animateThis.zoomIn{opacity: 0; -moz-transform: scale3d(0.3, 0.3, 0.3); -webkit-transform: scale3d(0.3, 0.3, 0.3); -o-transform: scale3d(0.3, 0.3, 0.3); -ms-transform: scale3d(0.3, 0.3, 0.3); transform: scale3d(0.3, 0.3, 0.3); }
.animateThis.zoomIn.go { opacity: 1; -moz-transform:  scale3d(1, 1, 1); -webkit-transform:scale3d(1, 1, 1); -o-transform: scale3d(1, 1, 1); -ms-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
 /**/ 

header{position: fixed;
    width: 100%;
    z-index: 999;
    background: #ffffff;
    border-bottom: 1px solid #e4e4e4;
}
header .logo{ padding:10px 0px 10px 0px;}
header nav{ float:right; text-transform:uppercase;padding-top:24px }
header nav a{ color:#666666; margin:0 10px; *border-top:solid 13px #eef1f1; display:inline-block; padding:10px 0px 10px 0px;}
header nav a.selcted, header nav a:hover{ color:#eb212e; *border-top:solid 13px #eb212e;}
header.smallBx .logo{ height:80px; padding:5px 0}

.container{ max-width:1200px; width:100%; padding:0 15px; position:relative}
.homeBanner{ padding:200px 0 50px; height:900px}
.homeImg1{ position:absolute; top:-50px; right:-60px; z-index:1}
.homeImg2{ position:absolute; top:140px; left:-120px; z-index:1}
.homeBanner .sayBox{ float:left; position:relative; z-index:99}
.homeCir{ background:#fff;  width:620px; height:620px; border-radius:50%; float:right; position:relative; margin-top:50px}
.homeCir img{ position:absolute; top:-100px; left:-50px}

.scene { padding: 0; margin: 0; }
.fill { position: absolute; bottom: 5%; right: 5%; left: 5%; top: 5%; }
.expand-width { width: 100%; }
.border { border: 2px dashed #00FFAA; }
.aspect { opacity: 0.2; }

.what-plasticBox1{ max-width:346px; width:100%; margin:0 30px}
.what-plasticBox1 li{ background:url(../images/aroow1.png) no-repeat left center; padding-left:23px; font-size:1.500em; color:#000;font-family: 'latoblack'; margin-bottom:12px; text-transform:uppercase}

.what-plasticBox2{ margin-right:10px}


.catplasticBox{ position:relative; padding-top:50px; overflow:hidden}
.catImg1{ position:absolute; top:30px;}
.catImg2{ position:absolute; top:0; left:7%}
.catBoxesMain{ max-width:930px; float:right; padding-top:50px; text-align:right}
.catplasticBox h2{ padding-top:100px; display:inline-block}

.catBox{ display:inline-block;text-align:center; margin:0 20px 30px; position:relative; cursor:pointer}
.catImg{ width:186px; height:186px; background:#f5f7f7; border:solid 1px #d2d2d2; vertical-align:middle; overflow:hidden;border-radius:50%}
.catImg span{ background:url(../images/bottels.png) no-repeat; width:86px; height:110px; display:block; margin:38px auto 0; }
.catBox .catText{ font-size:1.250em; font-family: 'latoblack'; color:#000; margin:20px 0 10px}
.catBox .catSubText{ font-size:1.063em; background:#787878; border-radius:75px; width:150px; height:36px; color:#fff; line-height:36px; margin:auto}

.catImg:hover, .zindex .catImg { background:#464646}
.catImg:hover span, .catBox1.zindex .catImg span{ background-position:-86px 0}

.zindex{ z-index:1}
.catBox2 .catImg span{ background-position:0 -111px}
.catBox2 .catImg:hover span, .catBox2.zindex .catImg span{ background-position:-86px -111px}
 
.catBox3 .catImg span{ background-position:0 -222px}
.catBox3 .catImg:hover span, .catBox3.zindex .catImg span{ background-position:-86px -222px}

.catBox4 .catImg span{ background-position:0 -333px}
.catBox4 .catImg:hover span, .catBox4.zindex .catImg span{ background-position:-86px -333px}

.catBox5 .catImg span{ background-position:0 -444px}
.catBox5 .catImg:hover span, .catBox5.zindex .catImg span{ background-position:-86px -444px}

.catBox6 .catImg span{ background-position:0 -555px}
.catBox6 .catImg:hover span, .catBox6.zindex .catImg span{ background-position:-86px -555px}

.catBox7 .catImg span{ background-position:0 -666px}
.catBox7 .catImg:hover span, .catBox7.zindex .catImg span{ background-position:-86px -666px}
 
.catTool{ display:none; width:462px; background:#464646; position:absolute; text-align:left; padding:44px; top:0; z-index:99; right:-500px}
.catTool *{ color:#fff}
.toolHead{ margin-bottom:30px; font-size:1.313em}
.toolHead::before{ content:''; width:10px; height:10px; background: url(../images/aroow2.png) repeat; width:25px; height:32px; left:-25px; top:80px; position:absolute}

.catBox3 .toolHead::before, .catBox4 .toolHead::before, .catBox6 .toolHead::before, .catBox7 .toolHead::before{ left:auto; right:-25px;transform: rotate(180deg);}
.catBox3 .catTool, .catBox4 .catTool, .catBox6 .catTool, .catBox7 .catTool{ right:auto; left:-500px}

.toolClose{ position:absolute; right:0; top:0; font-size:14px; padding:10px; }
.toolClose:hover{ color:#000; transform:scale(1.3)}

.catplasticBox .container{ overflow:hidden}
.polymers{ width:100%; float:right; margin:70px 0 0; padding:0 20px}
.polymers{}
.polymers table{ border-bottom:solid 1px #d7d7d7; border-left:solid 1px #d7d7d7; width:1150px; }
.polymers th{ background: #eb212e;
    padding: 12px;
    font-size: 1.063em;
    line-height: 130%;
    color: #fff;
    font-family: 'latobold';
    border-top: solid 1px #d7d7d7;
    border-right: solid 1px #d7d7d7;
}
.polymers td{ color:#000; padding:10px; font-size:1.063em; line-height:130%;border-top:solid 1px #d7d7d7; border-right:solid 1px #d7d7d7; vertical-align:top }

.polymers td:nth-child(2), .polymers td:nth-child(4){ font-weight:bold}
 
 
.recycling{ background:#fff; padding:50px 0}
.recycling p{ font-size:1.063em}
p.fon24{ font-size:1.500em}

.cycleImg li{ float:left; margin-right:30px;}
.cycleImg .cyimg{ width:61px; height:63px; background:url(../images/cycleImg2.png) no-repeat; text-align:center; font-size:19px;  line-height:66px; font-family: 'latobold'; margin-bottom:5px;}
.cycleImg li span{ font-size:1.250em}

.cycleImg2.cyimg{ background-position:-61px 0}
.cycleImg3.cyimg{ background-position:-122px 0}
.cycleImg .cycleImg1, .cycleImg .cycleImg1 span{ color:#f6c52f; text-align:center}
.cycleImg .cycleImg2, .cycleImg .cycleImg2 span{ color:#38b828; text-align:center}
.cycleImg .cycleImg3, .cycleImg .cycleImg3 span{ color:#fa151b; text-align:center}

.cycColr{ margin-top:20px}
.cycColr li{ float:left; position:relative; padding:0 50px 10px 27px; line-height:22px}
.cycColr li.cycColr3{ padding-right:20px}
.cycColr li div{ display:inline-block; width:22px; height:22px; background:#38b828; border-radius:11px; position:absolute; left:0}
.cycColr li.cycColr2 div{ background:#f6c52f}
.cycColr li.cycColr3 div{ background:#fa151b}

.humnaHealth{ padding:80px 0; position:relative}
.humanHealthBox{ max-width:660px; float:right; margin-bottom:100px; width:100%;}
.humnaHealth p{ font-size:1.063em}
.humnaHealth b{ font-size:1.235em; font-family: 'latobold'; color:#eb222e}
.humnaHealth .row{ margin:0 0 30px}
.humnaHealth .row .col-lg-6{ position:relative; padding:20px 30px 20px 0}
.redLine{ width:1px; height:130px; position:absolute; background:#fa151b; right:30px; display:block; top:0}

.humnaHealth .row, .humnaHealth .signAcc{ overflow:hidden}


.signAcc li{ border:solid 1px #cccccc; background:#eef1f1; margin-bottom:3px;}
.signAcc li h4{ padding:25px 20px; cursor:pointer; color:#eb222e; font-size:1.125em	; text-transform:uppercase; font-family: 'latobold'; position:relative}
.signAcc li h4:hover{background:#f7f8f8}
.signAcc li h4 span{ width:16px; height:10px; display:block; position:absolute; background: url(../images/accArrow.png) no-repeat 0 100%; right:20px; top:50%; margin-top:-5px; }
.signAcc li .signCon{ display:none; padding:20px 20px}
.signAcc li .active h4{ padding-bottom:0;}
.signAcc li .active{ background:#f7f8f8}
.signAcc li .active span{ background-position:0 0}
.signAcc li .signCon{  background:#f7f8f8}


.goodChoice{ background:#f7f8f8; padding:80px 0}
.goodList > li{ float:left; text-align:center; margin-bottom:20px}
.goodList h5{ font-size:1.875em; text-transform:uppercase; color:#000; font-family: 'latobold'; margin-bottom:5px  } 
.goodList p{ width:250px; margin:auto; line-height:130%}

.goodList2 li{ margin-bottom:50px; color:#000; position:relative; padding-left:27px}
.goodList2 span{ font-size:1.500em;font-family: 'latobold';}
.goodList2 p{ font-size:1.063em; margin-bottom:0}
.goodList2 li::before{ content:''; width:11px; height:11px; background:#eb212e; display:block; position:absolute; left:10px; top:6px; border-radius:5px;}

.goodList3{ text-align:center; margin:0 0 0 -50px}
.goodList3 li{ padding:0 10px}
.goodList3 li h5{font-size:1.500em;font-family: 'latobold'; text-transform:uppercase;}

.goodList3 li:first-child h5{ color:#eb222e}
.goodList3 li:nth-child(2) h5{ color:#eb222e}
.goodList3 li:nth-child(3) h5{ color:#eb222e}

.goodBox1, .goodBox2, .goodBox3{margin:auto; width:186px; height:186px; border-radius:50%; overflow:hidden; margin-bottom:10px }
.goodBox1{ background:#eb222e; }
.goodBox2{ background:#eb222e; }
.goodBox3{ background:#eb222e;}
.goodBox1 span, .goodBox2 span, .goodBox3 span{ width:103px; height:115px; display:block; margin: auto; background:url(../images/goodIcon.png); margin-top:38px; }
.goodBox2 span{ background-position:0 -115px;}
.goodBox3 span{ background-position:0 -231px;}

.mobshow{ display: block}
.mobhide{ display:none} 


.bx-controls-direction a{ width:47px; height:47px; background:url(../images/sliderArrow.png) no-repeat -48px 0; font-size:0; display: inline-block; margin:0 1px}
.bx-controls-direction a:hover{ background-position:0 0}
.bx-controls-direction a.bx-next{ background-position:-96px 0}
.bx-controls-direction a:hover.bx-next{ background-position:100% 0}

.saymain{ position:relative;  } 
.sayImg1{ position:absolute; z-index:1; right:160px; top:-40px} 
.sayImg2{position:absolute; z-index:1; top:55px; right:0; }
.sayImg3{position:absolute; z-index:1; top:120px; right:-100px}
.saymain .container{ position:relative; padding-top:320px}
.sayBox{    max-width: 340px;
    height: 320px;
    border: solid 10px #e8e8e8;
    padding: 50px 0 0 26px;
    position: relative;
    z-index: 1;
    background: #fff;
}
.sayBox h2{ font-size:4.000em; padding-bottom:20px}
.sayBox h2 span{ font-size:60%; display:inline-block;  }
.sayBox p{ width:400px}

.saymain .scene2{position:relative; z-index:1; height:620px}


.goodCircle{ position:relative; width:897px; height:897px; background:#f5f7f7; margin:auto; margin-top:-110px; border-radius:50%;  padding-top:90px}

 
.goodCircle .goodCir{  width:159px; height:159px; border-radius:50%; background:#f5f7f7; border:solid 1px #cdcdcd; margin:auto; margin-bottom:10px;  }
/*.goodCircle .goodCir:hover{ background:#787878}*/
.goodCircle span{text-transform:uppercase; line-height:140%;color:#000; font-family: 'latobold'; }
.goodCircle .goodCir b{ background:url(../images/saysIcons.png) no-repeat; display:inline-block; width:108px; height:81px; margin-top:38px}
.goodCirMain{ width:200px; margin:auto; text-align:center; position:absolute;}

 
.goodCir1::after{ content:''; background:url(../images/circleArrow.png) no-repeat; width:79px; height:40px; position:absolute; right:-73px; top:76px;}
.goodCirMain.goodCir2::after{ content:''; background:url(../images/circleArrow.png) no-repeat; width:79px; height:40px; position:absolute; right:50px; top:220px; transform: rotate(54deg);}
.goodCirMain.goodCir3::after{ content:''; background:url(../images/circleArrow.png) no-repeat; width:79px; height:40px; position:absolute; right:180px; top:130px; transform: rotate(120deg);}
.goodCirMain.goodCir4::after{ content:''; background:url(../images/circleArrow.png) no-repeat; width:79px; height:40px; position:absolute; right:200px; top:50px; transform: rotate(180deg);}
.goodCirMain.goodCir5::after{ content:''; background:url(../images/circleArrow.png) no-repeat; width:79px; height:40px; position:absolute; right:75px; top:-75px; transform: rotate(230deg);}
.goodCirMain.goodCir6::after{ content:''; background:url(../images/circleArrow.png) no-repeat; width:79px; height:40px; position:absolute; right:-50px; top:-16px; transform: rotate(320deg);}
 
 
.goodCircle .goodCir1{ left:50%; margin-left:-100px}
.goodCircle .goodCir2{ left:78%; margin-left:-100px; margin-top:100px}
.goodCircle .goodCir3{ left:78%; margin-left:-100px; margin-top:400px}
.goodCircle .goodCir4{ left:50%; margin-left:-100px; margin-top:500px}
.goodCircle .goodCir5{ left:22%; margin-left:-100px; margin-top:400px;}
.goodCircle .goodCir6{ left:22%; margin-left:-100px; margin-top:100px}
.goodCircle .goodCir7{ left:50%; margin-left:-100px; margin-top:250px}
.goodCircle .goodCir7 .goodCir{ background:#eb212e}
 

/*.goodCircle .goodCir1 .goodCir:hover b{ background-position:100% 0}*/

.goodCircle .goodCir2 .goodCir b{ background-position:0 -82px}
/*.goodCircle .goodCir2 .goodCir:hover b{ background-position:100% -82px}*/

.goodCircle .goodCir3 .goodCir b{ background-position:0 -164px}
/*.goodCircle .goodCir3 .goodCir:hover b{ background-position:100% -164px}*/

.goodCircle .goodCir4 .goodCir b{ background-position:0 -246px}
/*.goodCircle .goodCir4 .goodCir:hover b{ background-position:100% -246px}*/

.goodCircle .goodCir5 .goodCir b{ background-position:0 -328px}
/*.goodCircle .goodCir5 .goodCir:hover b{ background-position:100% -328px}*/

.goodCircle .goodCir6 .goodCir b{ background-position:0 -410px}
/*.goodCircle .goodCir6 .goodCir:hover b{ background-position:100% -410px}*/

.goodCircle .goodCir7 .goodCir b{ background-position:0 -492px}
/*.goodCircle .goodCir7 .goodCir:hover b{ background-position:100% -492px}*/


.goodPlastic{ font-family: 'latoblack'; background:url(../images/footerImg.png) no-repeat center bottom; height:600px; position:relative; margin-top:-190px; text-align:center; padding-top:280px; text-transform:uppercase; }
.goodPlastic a{ display: inline-block; font-size:3.125em; background:#eb212e; border-radius:10px; color:#fff; padding:10px 25px; cursor:pointer}
.goodPlastic a:hover{ background:#fff; color:#eb212e}
.goodText{ font-size:1.875em; color:#000; margin-bottom:5px}


footer{ background:#2b2b2b; padding:22px 0 20px}
footer .FL{ padding-top:22px; color:#a6a6a6; font-size:14px}
.fotSocIcons{ float:right}
.fotSocIcons a{ width:61px; height:61px; background:url(../images/socIcons.png) no-repeat;   display:inline-block}
.fotSocIcons a.socTW{ background-position:-61px 0} 
.fotSocIcons a.socWH{ background-position:-122px 0} 
.fotSocIcons a:hover{ transform:scale(1.1)}


.menuBox{ display:none; font-size:0; position:absolute; right:15px; top:30px; background: url(../images/menuIcon.png) no-repeat; width:28px; height:25px;  }
.closeBt{ display:none; font-size:0; position:absolute; right:15px; top:8px; background: url(../images/closeBt.png) no-repeat; width:28px; height:25px;   }
.mobMenu{ font-weight:bold; width:260px; height:100%; right:-260px; background: #ffffff; position:fixed;  z-index:10000;}
.mobMenu .container > ul  > li > a{ display:block; padding:10px 0; color:#000; text-transform:uppercase; border-bottom:solid 1px #000000; padding-left:10px  }
.mobMenu .container a:hover{ color:#ff0033 }
.mobMenu .container > ul  > li ul{ display:none;}
.mobMenu .socIcons{  padding:0; margin-top:20px; width:auto}
.mobMenu .socIcons a{ display: inline-block; } 
.overLay{ background: rgba(0,0,0,0.80); display:none; width:100%; height:100%; position:fixed; z-index:9999; top:0;}
.firstpane{ margin-top:50px}


/* Responsive */
@media (max-width:1500px) {
	.homeBanner{ position:relative; overflow: hidden; padding-top:180px; width:99.9%; margin:auto}
	.saymain{  position:relative; overflow: hidden; width:99.9%; margin:-70px auto 0}
	.homeImg1, .homeImg2{ width:90%}
	.homeCir{ width:600px; height:600px; margin-top:0}
	.homeCir img{ top:-50px; left:-100px;}
	.homeImg1{ right:-100px}
	.homeImg2{ left:-100px}
	.sayImg3{ right:0}
	.sayImg1{ top:10px; right:260px }
	
	
}
@media (max-width:1350px) {
	.catImg1{ width:50%}
	.catImg2{ width:50%}
	.homeImg2{ top:40px}
	.homeImg1{ top:10px}
}

@media (max-width:1100px) {
	.homeCir{ width:500px; height:500px}
	.homeCir img{ width:500px; height:auto; top:0; left:0}
	.what-plasticBox1{ max-width:300px; margin:0 20px}
	.catplasticBox{ padding:0 20px}
	.catImg1{   left:-100px}
	.recycling{ padding:50px 20px}
	.humnaHealth, .goodChoice{ padding:80px 20px}
	
}
@media (max-width:990px) {
	body{ font-size:14px;}
	.homeImg1, .homeImg2{ width:100%; height:auto;}
	.mobSize{ position:relative; clear:both }
	.sayBox{ width:280px; float:left}
	.sayBox p{ width:350px}
	.mobSize{ clear:none}
	.homeBanner{ height:800px}
	.goodList p{ width:auto}
	
}
@media (max-width:880px) {
	.homeBanner{ height:700px}
	.homeCir{ width:300px; height:300px}
	.homeCir img{ width:300px; height:auto; top:0; left:0}
	.container .what-plastic:last-child .what-plasticBox1{ max-width:100%; margin-top:30px}
	.catBoxesMain{ padding-top:20px}
	.catImg1{ top:800px}
	.cycleImg li{ margin-bottom:20px}
	.goodPlastic{	background-size:cover; margin:0}
	.goodCircle{ background:none; margin:0; height:auto; width:100%; text-align:center}
	.goodCirMain{ position:inherit;  left:auto !important; top:auto; margin:auto !important; float:left}
	.saymain .scene2{ height:auto;}
	/*.saymain{ overflow: visible}*/
	.goodCirMain::after{ display:none !important}
	.saymain .container{ padding-top:50px}
	.saymain .scene2 .mobSize{ height:300px}
	.sayBox{ float:none}
	.goodCirMain{ height:230px;}
	
}
@media only screen and (min-width: 481px) and (max-width: 839px) {	
}

@media (max-width:640px) {	
	nav{ display:none;}
	.homeBanner .sayBox{ float:none;}
	.homeBanner{ height:auto}
	.homeCir{ float:none; margin:100px auto 0;}
	.sayBox p{ width:400px}
	.sayBox{ max-width:350px}
	.catplasticBox .catImg1, .catplasticBox .catImg2{ display:none}
	.catBoxesMain{ float:none; text-align:center}
	.redLine{ width:100%; height:1px; bottom:0; top:auto}
	.saymain .scene2 .mobSize .sayImg2, .saymain .scene2 .mobSize .sayImg3,  .saymain .scene2 .mobSize .sayImg1{ width:100%;}
	.goodCircle{ max-width:400px; width:100%; margin:auto}
	footer .FL{ float:none; text-align:center;}
	.fotSocIcons{ float:none; margin:auto; text-align:center; margin-top:20px}
	.menuBox{ display:block}
	.what-plasticBox1{ margin:0}
	.polymers h2{ line-height:80%}
	.humnaHealth .catImg1{ display:none;}
	header .logo{ width:80px}
}

@media (max-width:480px) {
	.sayBox p{ width:130%;}
	.homeBanner .sayBox{ margin-bottom:160px}
	.homeImg2{ left:0}
	.homeImg1{ right:0}
	.goodPlastic a{ font-size:2.125em}
	.goodPlastic{ height:200px; padding-top:0}
	.what-plasticBox2{ float:none; margin:20px 0; text-align:center}
	.what-plasticBox1{ float:none; margin:auto; }
	.mobhide{ display: block}
	.mobshow{ display:none}
	.goodList3{ width:100%; margin:auto}
	.goodList3 li{ float:none; margin:0 auto 30px; width:100%; text-align:center}
	
}
@media (max-width:360px) {	
	.sayBox{ max-width:280px;}
	.sayBox p{ width:100%;}
	.sayImg1{ right:150px}
	.goodCirMain{ float:none;}
}


